.primary{
    background-color: #1D9AD6;
}
.bglighter{
    background-color: #F2F8FF;
}
.bgdark{
    background-color: #26568D;
}
.bgdarker{
    background-color: #0B2A54;
}
.bgnone{
    background: none !important;
}
.bglightgray{
    background-color: #F5F5F5;
}
/*--home--*/
.light-blue-gradient{
    background: linear-gradient(180deg, #BFE0FF 0%, #EFF7FF 100%);
}
.lighter-blue-gradient{
    background: linear-gradient(180deg, #E1E8F5 0%, rgba(255, 255, 255, 0.828125) 35.42%, rgba(255, 255, 255, 0) 100%);
}
/*--home-industry--*/
.blue-gradient{
    background: linear-gradient(55.84deg, #13599B 17.92%, #23BAFA 86.14%);
}
/*--solution--*/
.deep-purple-gradient{
    background: linear-gradient(45.89deg, #1A3A8C 17.92%, #607BEF 86.14%);
}
/*--platform--*/
.green-gradient{
    background: linear-gradient(45.89deg, #0E6F84 17.92%, #25CCB9 86.14%);
}
/*--service--*/
.purple-gradient{
    background: linear-gradient(45.89deg, #4A2B8B 17.92%, #8F57D7 86.14%);
}
.slategray_dark{
    background-color: #152C5B;
}
.slate{
    background-color: #718096;
}
.slategray-dark-txt{
    color: #152C5B;
}
.slate-txt{
    color: #718096;
}
