/*------------------------------------Tablet----------------------------------*/
@media (max-width: 768px){
    .navbar{
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-dark .navbar-brand{
        margin-left: 20px;
    }
    .navbar-dark .navbar-toggler{
        margin-right: 10px;
    }
    .navbar-collapse{
        margin-top: 10px;
        background: #00477B;
    }
    .nav-link{
        font-size: 18px;
        padding: 0 20px !important;
    }
    .navbar-collapse .navbar-nav .nav-item{
        border-bottom: 1px rgba(255,255,255,0.15) solid;
    }
    .navbar-collapse .navbar-nav .nav-item:last-child{
        border-bottom: none !important;
    }
    .hbx{
        height: auto;
    }
    .home-banner{
        height: auto;
        margin-top: 40px;
        padding-bottom: 50px;
        background-size: 75%;
    }
    .home-banner h1{
        font-size: 30px;
        margin: 0 0 30px 0;
    }
    .home-banner p{
        font-size: 16px;
    }
    .home-banner .btn-lg{
        height: 44px;
        font-size: 14px;
        margin-right: 5px;
        font-weight: 500;
    }
    .home-banner .btn-lg svg{
        display: none;
    }
    .main-heading h2{
        font-size: 30px;
    }
    .solution p, .industry p, .platform p, .service p, .partner p{
        font-size: 16px;
    }
    .industry img{
        width: 380px;
    }
    ul.slindus li a{
        padding: 5px;
    }
    .solution img{
        width: 75%;
    }
    ul.slindus li a.arrow{
        margin: 0;
    }
    ul.slindus li a img{
        width: 40px;
    }
    .service .sertyp{
        margin-top: 0;
    }
    .service .card{
        margin-bottom: 30px;
    }
    .service .card-body{
        padding: 25px;
    }
    .service img{
        width: 90%;
    }
    .py-85{
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .p-65 {
        padding: 55px 40px !important;
    }
    .footer .sub-menu{
        padding: 35px 0;
    }
    .footer ul li{
        padding: 7px 0;
    }
    .unfter{
        height: 50px;
    }
    .platform .box20{
        width: 33.3%;
    }
    .industry p.desc, .platform p.desc{
        padding: 0;
    }
    .sub-banner{
        height: auto;
        padding-bottom: 50px;
    }
    .sub-banner p{
        width: 100%;
    }
    .sub-banner .img_slide{
        width: 100%;
        height: auto;
    }
    .sub-banner button{
        margin: 15px 0 0 0;;
    }
    .filter-le select{
        width: 200px;
    }
    .formct .pr-40{
        padding-right: 20px;
    }
    .formct .pl-40{
        padding-left: 20px;
    }
    .formct .sbox img{
        width: 120px;
    }
    .getinfo{
        display: flex;
        flex-direction: column-reverse;
    }
    .getinfo .form{
        padding: 45px 35px;
    }
    .getinfo .w-50{
        width: 100% !important;
    }
    .started h2{
        padding: 0 50px;
    }  
    .started h2 br{
        display: none;
    }
    .bg-fea-so{
        background-size: cover;
    }
}
/*------------------------------------Mobile----------------------------------*/
@media (max-width: 481px){
    .home-banner{
        background-size: 100%;
        margin-top: 20px;
        padding-bottom: 25px;
        text-align: center;
    }
    .home-banner .btn-lg {
        margin-bottom: 20px;
    }
    .home-banner h1{
        margin: 0 0 20px 0;
    }
    .navbar-dark .navbar-brand {
        margin-left: 15px;
    }
    .navbar-dark .navbar-toggler {
        margin-right: 0;
    }
    .navbar-brand img{
        height: 30px;
    }
    .navbar{
        height: auto;
    }
    .solution{
        display: inline-block;
    }
    .box50, .box20{
        width: 100% !important;
    }
    .service{
        text-align: center;
    }
    .service img{
        margin-bottom: 35px;
    }
    .service p{
        margin-bottom: 0;
    }
    .py-85, .py-65{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .p-65{
        padding:40px 30px !important;
    }
    .industry img{
        width: 300px;
    }
    .unfter{
        height: auto;
        flex-flow: wrap;
    }
    .unfter .social{
        width: 50%;
        padding: 10px 0;
        float: left;
    }
    .unfter .language{
        width: 50%;
        padding: 10px 0;
        float: right;
        text-align: right;
    }
    .unfter .copyright{
        order: 3;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-top: 1px rgba(255,255,255,0.1) solid;
    }
    .contact{
        height: auto;
        padding: 15px 0;
    }
    .contact ul{
        display: flex;
    }
    .contact ul li a svg{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .sub-banner{
        text-align: center;
    }
    .sub-banner h2{
        margin: 15px 0;
    }
    .sub-banner p{
        margin-bottom: 30px;
    }
    .sub-banner button{
        margin: 0;
    }
    .card2{
        margin: 20px 0 0 0;
    }
    .card{
        margin-bottom: 15px;
    }
    .filter-le{
        padding: 20px 0;
    }
    .filter-le select{
        width: 100%;
        margin: 20px 0 0 0;
    }
    .filter-le .main-heading{
        width: 100%;
    }
    .filter-le .main-heading a.filter-icon{
        float: right;
    }
    .filter-le .main-heading a:hover.filter-icon svg{
        fill: #1D9AD6;
    }
    .large-enterprise{
        margin-top: 25px;
    }
    .large-enterprise .card{
        margin: 0 0 15px 0;
    }
    .formct .pr-40{
        padding-right: 0;
    }
    .formct .pl-40{
        padding-left: 0;
    }
    .flex-reverse{
        flex-direction: column-reverse;
    }
    .formct img{
        margin-bottom: 25px;
    }
    .formct .desc{
        margin-bottom: 0;
    }
    .getinfo .w-50{
        width: 100% !important;
    }
    .getinfo .form{
        padding: 35px 20px;   
    }
    .formct .sbox{
        display: inline-block !important;
        margin-bottom: 30px;
    }
    .formct .sbox img{
        width: 100%;
        margin-bottom: 15px;
    }
    .formct .sbox h6{
        margin: 0 0 15px 0;   
    }
    .formct button{
        margin: 30px 0 0 0;
    }
    .formct .divider{
        margin: 35px 0;
    }
    .mag-b-xs-0{
        margin-bottom: 0 !important;
    }
    .getinfo .form button{
        margin: 10px 0 0 0;
    }
    .started h2{
        padding: 0 25px;
    }
    .bg-fea-so{
        background: none;
    }
    .form .w-48{
        width: 100%;
    }
}   