.mh-600{
    min-height: 600px;
}
.pt-65{
    padding-top: 65px;
}
.pb-65{
    padding-bottom: 65px;
}
.py-65{
    padding-top: 65px;
    padding-bottom: 65px;
}
.py-85{
    padding-top: 85px;
    padding-bottom: 85px;
}
.pb-85{
    padding-bottom: 85px;
}
.p-65{
    padding: 65px;
}
.my-15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-45{
    margin-top: 45px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mb-45{
    margin-bottom: 45px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pr-40{
    padding-right:40px;
}
.pl-40{
    padding-left:40px;
}
.flex-cm{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
}
.lift{
    transition: box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}
.lift:hover{
    transform: translate3d(0,-10px,0);
}
.w-48{
    width: 48%;
}

